@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#id1, #id3{
  background-color: #D4F4E2;
  border: 1px solid #B7ECCF;
  width: 20%;
}

#id2, #id4{
  background-color: hsla(241, 100%, 92%, 0.4);
  border: 1px solid hsla(241, 100%, 92%, 1);
  width: 20%;
}

#id1 > img, #id2 > img, #id3 > img, #id4 > img {
  width: 30%;
}

#id5, #id6, #id7{
  background-color: #fff;
  box-shadow: 0px 0px 60px 2px hsla(238, 81%, 76%, 0.1);
  width: 30%;
}

#id8{
  background-color: hsla(241, 100%, 67%, 1);
  box-shadow: 0px 0px 60px 2px hsla(238, 81%, 76%, 0.1);
  width: 30%;
  color: #fff;
}
